  <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <i class="fa fa-language"></i>
                    <div class="intro-text">
                        <span class="name">Start HikariGo</span>
                        <hr class="star-light">
                        <span class="skills">Modular Japanese Learning</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
  
  <section class="courses intro">
  <div class="main-block white">
    <div id="courses">
      <div class='row text-center'>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <i class='fa fa-book'></i>
          <h3>Cracking the Code</h3>
          <p class="text-left">In this introductory course, you will get an overview of the three
             writing systems used to write Japanese.
          </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <i class='glyphicon glyphicon-pencil'></i>
          <h3>Grammar Essentials</h3>
          <p class="text-left">Traditional textbooks make Japanese grammar WAY more complex
             than it needs to be. Learn the basics and get your Japanese ship
             sailing smoothly here.
          </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <i class='glyphicon glyphicon-book'></i>
          <h3>The Vocab Starter Pack</h3>
          <p class="text-left">A full 100 frequently used vocabulary words broken down by
             part of speech and category with commentary from a professional
             translator. Master these and you will be on the fast track to
             fluency.
          </p>
        </div>
      </div>
    </div>
    </div>
    </section>
    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
   
   
   
  <%= render 'layouts/footer' %>
</div>