<div id="wrapper">
  
  <%= render 'layouts/sidebar' %>
  <div id="page-wrapper">
    <div class="page-content">
      <section>
        <div id="tab-general">
          <div id="sum_box" class="row mbl">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
              <div class="panel income db mbm">
                <%= calendar_string.html_safe %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  
</div>
