  <h3>EXAMPLE TRANSLATION</h3>
  <div class="nested-fields">

    <%= f.label :example_translation %>
    <%= f.text_field :example_translation %>
  
    <%= link_to_remove_association "Remove Example Translation", f %>
  </div>